body {}

.student-profile {}

.student-profile img {
    height: 200px;
    width: auto;
}


/*Login Box*/

.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 280px;
    height: 280px;
    margin: -140px 0 0 -137px;
}

.login-box .inner {
    background-position: 0% 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 3px #ccc;
    background-color: #fbfbfb;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
    background-attachment: scroll;
}

.login-box .under {
    margin: 5px 0 0 0;
    font-size: .9em;
}

.loading-gif {
    height: 30px;
    width: auto;
}


/*Home page*/

.home-page {}

.home-page .panel {}


/*School Profile*/

.school-container {
    border: 1px solid black;
    border-top: none;
    padding-top: 15px;
    margin-bottom: 10px;
}

.school-page .multiple-control div {
    padding-left: 0px;
}

.school-page .img-logo {
    height: 120px;
    width: auto;
}


/* COMMON */

.relative {
    position: relative;
}

.colorRed {
    color: red;
}

.colorBlack {
    color: black;
}

.bold {
    font-weight: bold;
}

.noBold {
    font-weight: normal;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.marginRight5 {
    margin-right: 5px;
}

.radioButton {
    margin-right: 10px;
}

button.primary,
button.primary:hover {
    background: RGB(18, 57, 91);
    border-color: RGB(18, 57, 91);
    font-weight: bold;
    color: white;
}

button.secondary {
    background: RGB(94, 186, 68);
    border-color: RGB(94, 186, 68);
    font-weight: bold;
    color: white;
}

.requiredField {
    position: absolute;
    top: 5px;
    right: 30px;
}

.main-content {
    margin: 0 15px 0 -15px;
}

.pointer {
    cursor: pointer;
}

.tableHead {
    background: #677f94;
    color: white;
}

.tableHead th,
.tableBody td {
    padding: 2px;
    text-align: center;
}

.tableBody {
    color: #828282;
    background: white;
}

.customTable {
    border: 1px solid #828282;
    border-collapse: collapse;
    width: 100%;
}

.tableHead th,
.tableBody td {
    border: 1px solid #828282;
}

.border {
    border: 1px solid #000000;
}

.marginTop25 {
    margin-top: 25px;
}

.borderTopBlack {
    border-top: 1px solid;
}

.tabsList ul.nav.nav-tabs {
    border-bottom: 0;
}

.topActionLinks > div span {
    padding: 0 10px;
}

.borderNone,
.addButton,
.editButton,
.deleteButton {
    border: none;
}

.addButton,
.addButton:hover,
.addButton:focus {
    background: #6E971B;
}

.editButton,
.editButton:hover {
    background: #12627B;
}

.deleteButton,
.deleteButton:hover {
    background: #BE5633;
}

button.btn.actionButton {
    width: 110px;
    margin-right: 50px;
    position: relative;
    height: 40px;
}

button.btn.actionButton > i {
    position: absolute;
    left: 6px;
    top: 4px;
}

button.btn.actionButton > span {
    position: absolute;
    top: 8px;
    left: 45px;
}

button.btn.actionButton {
    margin-top: 20px;
}

.noBoldForce {
    font-weight: normal !important;
}

ul.sidebar .sidebar-main,
.row.header {
    height: 90px;
}

.active_table_row {
    background: #eeeeee;
    outline: 0;
}

.subject-page {
    margin: 0px;
}

.subject-page .table {
    background: white;
}

.subject-page .table thead {
    background: rgb(18, 57, 91);
    color: white;
    font-size: 17px;
}

.subject-page .table tr {
    font-size: 16px;
}

.subject-page .table tr th {
    cursor: pointer;
}

.subject-page .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #d9edf7;
}

.subject-page .table-striped > tbody > tr:nth-of-type(even) {
    background-color: white;
}

.marginRight0 {
    margin-right: 0 !important;
}

.text {
    color: RGB(24, 65, 95);
}

.underline {
    text-decoration: underline;
}


/* END COMMON */