@import url(https://fonts.googleapis.com/css?family=Roboto);



/* Base */
html {
    height: 100%;
}

body {
    background: RGB(228,228,228);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

ul, li {
    list-style: none;
}

 .form-control {
    border-radius: 0;
}

.switch {
    border-radius: 20px !important;
}

.group-box {
    margin: 0 15px 15px 15px;
    padding: 15px 0px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 97%;
}

#content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

.page-content {
    margin: 0;
    padding: 0 15px;
}

.required-mark {
    font-size: 12px;
    color: red;
    /* top: 0; */
    position: absolute;
    padding-left: 5px;
}

label {
    color: RGB(24,65,95);
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
}

button {
    font-family: Segoe UI;
    font-size: 16px !important;
    font-weight: bold !important;
}

.nav.nav-tabs {
    font-family: Segoe UI;
    font-size: 15px;
}


.nav-tabs > li > a {
    line-height: 10px;
    color: black;
    background: white;
    margin:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid black;
}

    .nav-tabs > li > a:hover {
        background-color: RGB(73,106,122);
        color: white;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: RGB(73,106,122);
    color: white;
    border: 1px solid black;
}

.btn-edit {
    background-color: RGB(73,106,122);
    color: white;
    font-weight: bold;
}

.btn-next {
    background-color: RGB(94,186,68);
    color: white;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.margin-bottom-10{
    margin-bottom:10px;
}

@media only screen and (min-width: 561px) {
    #page-wrapper.open {
        padding-left: 250px;
    }
}

@media only screen and (max-width: 560px) {
    #page-wrapper.open {
        padding-left: 70px;
    }
}

#page-wrapper.open #sidebar-wrapper {
    left: 150px;
}

@media only screen and (max-width: 560px) {
    body.hamburg #page-wrapper {
        padding-left: 0;
    }

        body.hamburg #page-wrapper:not(.open) #sidebar-wrapper {
            position: absolute;
            left: -100px;
        }

        body.hamburg #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
            display: none;
        }

        body.hamburg #page-wrapper.open #sidebar-wrapper {
            position: fixed;
        }

            body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
                margin-left: 0px;
            }

    body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
    body.hamburg .row.header .meta {
        margin-left: 70px;
    }

    body.hamburg #sidebar-wrapper ul.sidebar li.sidebar-main,
    body.hamburg #page-wrapper.open #sidebar-wrapper ul.sidebar li.sidebar-main {
        transition: margin-left 0.4s ease 0s;
    }
}

/**
 * Header
 */
.row.header {
    height: 60px;
    background: rgb(18,57,91);
    margin-bottom: 15px;
    color: white;
}

    .row.header > div:last-child {
        padding-right: 0;
    }

    .row.header .meta .page {
        font-size: 25px;
        padding-top: 11px;
    }

    .row.header .meta .breadcrumb-links {
        font-size: 10px;
    }

    .row.header .meta div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .row.header .login a {
        padding: 18px;
        display: block;
    }

    .row.header .user {
        min-width: 130px;
    }

        .row.header .user > .item {
            width: 65px;
            height: 60px;
            float: right;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

            .row.header .user > .item a {
                color: #919191;
                display: block;
            }

            .row.header .user > .item i {
                font-size: 20px;
                line-height: 60px;
            }

            .row.header .user > .item img {
                width: 40px;
                height: 40px;
                margin-top: 10px;
                border-radius: 2px;
            }

            .row.header .user > .item ul.dropdown-menu {
                border-radius: 2px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
            }

                .row.header .user > .item ul.dropdown-menu .dropdown-header {
                    text-align: center;
                }

                .row.header .user > .item ul.dropdown-menu li.link {
                    text-align: left;
                }

                    .row.header .user > .item ul.dropdown-menu li.link a {
                        padding-left: 7px;
                        padding-right: 7px;
                    }

                .row.header .user > .item ul.dropdown-menu:before {
                    position: absolute;
                    top: -7px;
                    right: 23px;
                    display: inline-block;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
                    border-left: 7px solid transparent;
                    content: '';
                }

                .row.header .user > .item ul.dropdown-menu:after {
                    position: absolute;
                    top: -6px;
                    right: 24px;
                    display: inline-block;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #ffffff;
                    border-left: 6px solid transparent;
                    content: '';
                }

.loading {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}



.alerts-container .alert:last-child {
    margin-bottom: 0;
}

#page-wrapper {
    padding-left: 70px;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
}

#page-wrapper,
#sidebar-wrapper {
    transition: all .4s ease 0s;
}

.form-group .help-block.form-group-inline-message {
    padding-top: 5px;
}

div.input-mask {
    padding-top: 7px;
}


#sidebar-wrapper {
    background: rgb(18,57,91);
}

ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: rgb(18,57,91);
}

ul.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

    ul.sidebar li .search {
        width: 90%;
        margin: auto;
    }

    ul.sidebar li a {
        color: #fff;
        display: block;
        float: left;
        text-decoration: none;
        width: 250px;
    }




    ul.sidebar .sidebar-main {
        height: 65px;
    }

        ul.sidebar .sidebar-main a {
            font-size: 18px;
            line-height: 60px;
        }

            ul.sidebar .sidebar-main a:hover {
                cursor: pointer;
            }

        ul.sidebar .sidebar-main .menu-icon {
            float: right;
            font-size: 18px;
            padding-right: 28px;
            line-height: 60px;
        }

    ul.sidebar .sidebar-title {
        color: #738bc0;
        font-size: 12px;
        height: 35px;
        line-height: 40px;
        text-transform: uppercase;
        transition: all .6s ease 0s;
    }

    ul.sidebar .sidebar-list {
        height: 40px;
    }

        ul.sidebar .sidebar-list a {
            text-indent: 25px;
            font-size: 15px;
            color: #b2bfdc;
            line-height: 40px;
        }

            ul.sidebar .sidebar-list a:hover {
                color: #fff;
                border-left: 3px solid #e99d1a;
                text-indent: 22px;
            }

                ul.sidebar .sidebar-list a:hover .menu-icon {
                    text-indent: 25px;
                }

        ul.sidebar .sidebar-list .menu-icon {
            float: right;
            padding-right: 29px;
            line-height: 40px;
            width: 70px;
        }

ul.child-sidebar-list li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 210px;
}

#page-wrapper:not(.open) ul.sidebar {
    bottom: 0;
}

    #page-wrapper:not(.open) ul.sidebar .sidebar-title {
        display: none;
        height: 0px;
        text-indent: -100px;
    }

        #page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
            display: block;
            height: 2px;
            margin: 13px 0;
        }

    #page-wrapper:not(.open) ul.sidebar .sidebar-list a:hover span {
        border-left: 3px solid #e99d1a;
        text-indent: 22px;
    }

#page-wrapper:not(.open) .sidebar-footer {
    display: none;
}

.sidebar-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all .6s ease 0s;
    text-align: center;
}

    .sidebar-footer div a {
        color: #b2bfdc;
        font-size: 12px;
        line-height: 43px;
    }

        .sidebar-footer div a:hover {
            color: #ffffff;
            text-decoration: none;
        }

.student-page .control-button {
    font-size: 28px;
}

    .student-page .control-button div:not(:last-child) {
        float: left;
    }
