﻿<div class="row col-xs-12 school-page">
    <label class="margin-bottom-10">Home / School / Add New School </label>
    <uib-tabset active="active">
        <uib-tab ng-repeat="tab in school.Tabs" heading="{{tab.Text}}" select="student.go(tab.Route)" active="tab.Active">
        </uib-tab>
    </uib-tabset>
    <div ui-view class="school-container"></div>
</div>