﻿<div class="row">
    <div class="col-xs-12">
        <form name="school.frmSchoolProfile" novalidate ng-submit="school.SaveSchoolProfile()">
            <div class="col-xs-12 text-right">
                <label class="text-danger">* Required Fields</label>
            </div>
            <div class="col-xs-8">
                <div class="col-xs-6 form-group">
                    <label for="schoolcode">School Code<span class="required-mark">*</span></label>
                    <input type="text" class="form-control" name="schoolcode" placeholder="School Code" required ng-model="school.SchoolDetails.schoolCd">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="licencetype">Licence Type</label>
                    <select class="form-control" name="licencetype" ng-options="type for type in school.LicenceTypes" ng-model="school.SchoolDetails.licenceType"></select>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="schoolname">School Name<span class="required-mark">*</span></label>
                    <input type="text" class="form-control" name="schoolname" placeholder="School Name" required ng-model="school.SchoolDetails.schoolName">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="currentacademicyear">Current Academic Year<span class="required-mark">*</span></label>
                    <select class="form-control" name="currentacademicyear" ng-options="year for year in school.Years" required ng-model="school.SchoolDetails.currentAcademicYear"></select>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="boardofeducation">Board of education</label>
                    <input type="text" class="form-control" name="boardofeducation" ng-model="school.SchoolDetails.educationBoard.boardName" placeholder="Board of education">
                </div>
                <div class="col-xs-6 form-group">
                </div>
                <div class="col-xs-12 ">
                    <label for="boardofeducation">School Address</label>
                </div>
                <div class="col-xs-12 group-box">
                    <div class="col-xs-6 form-group">
                        <label for="streetAddress">Street Address<span class="required-mark">*</span></label>
                        <input type="text" class="form-control" maxlength="200" name="streetAddress" placeholder="Street Address" required ng-model="school.SchoolDetails.streetAddress">
                    </div>

                    <div class="col-xs-6 form-group">
                        <label for="cityNm">City</label>
                        <input type="text" class="form-control" maxlength="100" name="cityNm" placeholder="City" ng-model="school.SchoolDetails.cityNm">
                    </div>
                    <div class="col-xs-6 form-group">
                        <label for="state">State<span class="required-mark">*</span></label>
                        <select class="form-control" name="state" ng-options="state for state in school.States" required ng-model="school.SchoolDetails.state"></select>
                    </div>
                    <div class="col-xs-6 form-group">
                        <label for="postalCd">Postal Code</label>
                        <input type="text" class="form-control" maxlength="10" name="postalCd" placeholder="Postal Code" ng-model="school.SchoolDetails.postalCd">
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="createdTs">Created Time</label>
                    <input type="text" class="form-control" name="createdTs" placeholder="mm/dd/yyyy" ng-disabled="true" ng-model="school.SchoolDetails.tempCreatedTs">
                </div>
                <div class="col-xs-4 form-group">
                    <label for="updatedTs">Last Updated Time</label>
                    <input type="text" class="form-control" name="updatedTs" placeholder="Last Updated Time" ng-disabled="true" ng-model="school.SchoolDetails.tempUpdatedTs">
                </div>
                <div class="col-xs-4 form-group">
                    <label for="updatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" placeholder="Updated By" ng-disabled="true" ng-model="school.SchoolDetails.displayUpdatedBy">
                </div>
                <div class="col-xs-12 form-group  text-center">
                    <button type="submit" class="btn btn-edit btn-md" ng-click="school.SaveSchoolProfile()">Edit</button>
                    <button type="submit" class="btn btn-next btn-md " ng-click="school.NextTab()">Next</button>
                    <button type="button" class="btn btn-md btn-warning" ng-click="school.ClearSchoolProfile()">Clear</button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-12 form-group">
                    <label for="schoolname">Enrollment Date<span class="required-mark">*</span></label>
                    <input type="text" class="form-control" name="enrollmentDate" placeholder="Enrollment Date" ng-disabled="true" ng-model="school.SchoolDetails.enrollmentDate">
                </div>

                <div class="col-xs-12 form-group">
                    <label for="schoolname">School Name</label><br />
                    <img class="img-thumbnail img-logo" ng-click="school.changeLogo()" ng-src="{{ school.SchoolDetails.logoLocation ||  'images/no_image.png' }}" /><br />

                    <input type='file' id="logoUpload" style="display:none;" onchange="angular.element(this).scope().logoUploaded(this)" />
                </div>
                <div class="col-xs-12 form-group">
                    <label for="schoolname">School Logo</label><br />
                    <img class="img-thumbnail img-logo" ng-click="school.changeName()" src="{{ school.SchoolDetails.nameImageLocation ||  'images/no_image.png' }}" /><br />

                    <input type='file' id="nameUpload" style="display:none;" onchange="angular.element(this).scope().nameUploaded(this)" />
                </div>
            </div>
        </form>
    </div>
</div>
