<!DOCTYPE html>
<html ng-app="schoolAdmin">
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
</head>
<body ng-controller="MainController" class="skin-blue sidebar-mini">
	<div class="wrapper relative">

		<span ng-include="'app/partials/header.html'"></span>

		<span ng-include="'app/partials/sidebar.html'"></span>

		<div class="content-wrapper"  get-dynamic-height>
			<div ng-view class="form-group"></div>
		</div>
	</div>

	<div class="loader" ng-if="loading">
		<img src="app/images/loader.gif" />
	</div>
</div>

<link href="app/css/bootstrap.min.css" rel="stylesheet" />
<link href="app/css/jquery-ui.min.css" rel="stylesheet" />
<link href="app/css/AdminLTE.min.css" rel="stylesheet" />
<link href="app/css/_all-skins.min.css" rel="stylesheet" />
<link href="app/css/index.css" rel="stylesheet" />

<script src="app/js/jQuery_1_12_1.js"></script>

<script src="app/js/angular.min.js"></script>
<script src="app/js/bootstrap.min.js"></script>
<script src="app/js/jquery-ui.min.js"></script>
<script src="app/js/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="app/js/moment-with-locales.js"></script>
<script src="app/js/angular-route.min.js"></script>
<script src="app/js/imageupload.js"></script>
<script src="app/js/index.js"></script>
<script src="app/components/dashboard/dashboard.js"></script>
<script src="app/components/school/school.js"></script>
<script src="app/components/student/student.js"></script>

</body>
</html>