﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Lyrics">
    <meta name="keywords" content="Lyrics">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <link href="css/angular-ui-switch.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link href="css/angular-chart.min.css" rel="stylesheet" />
    <link href="css/sweetalert.css" rel="stylesheet" />

</head>
<body ng-app="lotusSchoolApp">
    <div id="page-wrapper" ng-class="{'open': vm.toggle}" ng-controller="MainController as vm" ng-cloak class="relative">
        <div ng-if="CurrentUser" id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="vm.toggleSidebar()">
                        School Hub
                        <span class="menu-icon glyphicon glyphicon-transfer" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="sidebar-title text-center" style="margin-bottom:5px;">
                    <input class=" search form-control" placeholder="Search" />
                </li>

                <li class="sidebar-list">
                    <a href="#/home">Dashboard <span class="menu-icon fa fa-tachometer" aria-hidden="true"></span></a>
                </li>
                <li class="sidebar-list">
                    <a ui-sref="school.profile">School <span class="menu-icon fa fa-tachometer" aria-hidden="true"></span></a>
                </li>
                <li class="sidebar-list">
                    <a ui-sref="student.profile({studentId: studentId})">Student <span class="menu-icon fa fa-tachometer" aria-hidden="true"></span></a>
                </li>
                <!-- <li class="sidebar-list" ng-click="studentCol = !studentCol">
                    <a href="javascipt:void(0);">Student <span class="menu-icon fa fa-user" aria-hidden="true"></span></a>
                </li>
                <ul class="child-sidebar-list row" uib-collapse="!studentCol">
                    <li class="sidebar-list">
                        <a href="#/student/profile">Profile <span class="menu-icon fa fa-info" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Parent Details <span class="menu-icon fa fa-users" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Fees <span class="menu-icon fa fa-inr" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Marks <span class="menu-icon fa fa-percent" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Attendance <span class="menu-icon fa fa-check" aria-hidden="true"></span></a>
                    </li>
                </ul> -->
                <li class="sidebar-list" ng-click="staffCol = !staffCol">
                    <a href="#/tables">Staff <span class="menu-icon fa fa-users" aria-hidden="true"></span></a>
                </li>
                <ul class="child-sidebar-list row" uib-collapse="!staffCol">
                    <li class="sidebar-list">
                        <a href="#/tables">Profile <span class="menu-icon fa fa-info" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Salary Details <span class="menu-icon fa fa-inr" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Performance <span class="menu-icon fa fa-balance-scale" aria-hidden="true"></span></a>
                    </li>
                </ul>
                <li class="sidebar-list" ng-click="financeCol = !financeCol">
                    <a href="#/tables">Finance <span class="menu-icon fa fa-table" aria-hidden="true"></span></a>
                </li>
                <ul class="child-sidebar-list row" uib-collapse="!financeCol">
                    <li class="sidebar-list">
                        <a href="#/tables">Summary <span class="menu-icon fa fa-info" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Expenses <span class="menu-icon fa-users" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Income <span class="menu-icon fa fa-table" aria-hidden="true"></span></a>
                    </li>
                </ul>
                <li class="sidebar-list" ng-click="reportCol = !reportCol">
                    <a href="#/tables">Reports <span class="menu-icon fa fa-line-chart" aria-hidden="true"></span></a>
                </li>
                <ul class="child-sidebar-list row" uib-collapse="!reportCol">
                    <li class="sidebar-list">
                        <a href="#/tables">Attendance <span class="menu-icon fa fa-info" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Marks <span class="menu-icon fa fa-percent" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Finance <span class="menu-icon fa fa-money" aria-hidden="true"></span></a>
                    </li>
                </ul>
                <li class="sidebar-list" ng-click="dataentryCol = !dataentryCol">
                    <a href="#/tables">Data Entry <span class="menu-icon fa fa-user" aria-hidden="true"></span></a>
                </li>
                <ul class="child-sidebar-list row" uib-collapse="!dataentryCol">
                    <li class="sidebar-list">
                        <a href="#/tables">Attendance <span class="menu-icon fa fa-info" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Marks <span class="menu-icon fa-percent" aria-hidden="true"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/tables">Feedback <span class="menu-icon fa fa-table" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-4">
                    <a href="#" target="_blank">
                        About
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" target="_blank">
                        Contact
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" target="_blank">
                        Support
                    </a>
                </div>
            </div>
        </div>

        <div id="content-wrapper">
            <div class="row page-content">
                <!-- Header Bar -->
                <div ng-if="CurrentUser" class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <img src="images/avatar.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Mr. Principal
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="#">
                                            Profile
                                        </a>
                                    </li>
                                    <li class="link">
                                        <a href="#">
                                            Change Password
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a href="javascript:void(0);" ng-click="vm.logOut()">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-bell-o"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        Notifications
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">New Notification!</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="page">
                                <!-- Lotus Public School -->
                                Test Page
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->
                <!-- Main Content -->
                <div ui-view class="main-content"></div>
            </div><!-- End Page Content -->
        </div>
        <div class="loader" ng-if="loading">
            <img src="images/spin.gif" />
        </div>
    </div>
    <!-- Scrirp Section -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-messages.min.js"></script>
    <script src="script/lib/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="script/lib/angular-ui-switch.min.js"></script>
    <script src="script/lib/angular-chart.min.js"></script>
    <script src="script/lib/jquery-ui.min.js"></script>
    <script src="script/lib/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="script/lib/moment-with-locales.js"></script>
    <script src="script/lib/datatable/jquery.dataTables.min.js"></script>
    <script src="script/lib/datatable/angular-datatables.min.js"></script>
    <script src="script/lib/datatable/angular-datatables.bootstrap.min.js"></script>

    <script src="script/lib/sweetalert.min.js"></script>
    <script src="script/factory/messageFactory.js"></script>
    <script src="script/app.js"></script>
    <script src="script/routeconfig.js"></script>
    <script src="script/factory/authenticationFactory.js"></script>
    <script src="script/interceptor.js"></script>
    <script src="script/service/loginService.js"></script>
    <script src="script/controller/mainCtrl.js"></script>
    <script src="script/service/schoolService.js"></script>
    <script src="script/controller/loginCtrl.js"></script>
    <script src="script/controller/homeCtrl.js"></script>
    <script src="script/controller/schoolCtrl.js"></script>
    <!-- <script src="script/controller/studentCtrl.js"></script> -->
    <script src="app/components/student/student.js"></script>
</body>
</html>
