﻿<div class="row col-xs-12 student-profile">
    <div class="col-xs-3" >
        <img class="img img-responsive" ng-src="{{student.StudentDetails.profileImage}}" /> 
    </div>
    <div class="col-xs-9">
        <fieldset>
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <label>First Name</label>
                </div>
                <div class="col-xs-8">
                    <input class="form-control" value="test" />
                </div>
            </div>
        </fieldset>
    </div>
</div>