﻿<div class="student-page">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary" tooltip-placement="'top'" uib-tooltip="Create Student"><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
        </div>
        <div class="col-xs-4 control-button" >
            <div tooltip-placement="'top'" uib-tooltip="Previous Student">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </div>
            <div>&nbsp;</div>
            <div tooltip-placement="'top'" uib-tooltip="Next Student">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <input type="Search" placeholder="Search for another student" class="form-control" />
                <div class="input-group-btn">
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-12">
        <uib-tabset  active="active">
            <uib-tab ng-repeat="tab in student.Tabs" heading="{{tab.Text}}" select="student.go(tab.Route)" active="tab.Active">
            </uib-tab>
        </uib-tabset>
        <div ui-view></div>
    </div>
</div>