<span student-search>

	<div class="clearfix"></div>

	<div class="tab-content borderTopBlack">
		<div class="tab-pane active school-container">

			<div class="container-fluid" get-dynamic-height>

				<form name="formSearchStudent">

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-12">
										<label for="studentData.selectCourse">Course</label>
									</div>
									<div class="col-xs-12">
										<select name="selectCourse" class="form-control" ng-options="item as item for item in courseMap" ng-model="studentData.selectCourse" ng-change="getCourseAndBindClassroom(); resetSearchData();">
											<option value=""></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-2" ng-show="studentData.selectCourse">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-12">
										<label for="studentData.selectClassroom">Class Room</label>
									</div>
									<div class="col-xs-12">
										<select name="selectClassroom" class="form-control" ng-options="item.classroomName as item.classroomName for item in classroomList" ng-model="studentData.selectClassroom" ng-change="resetSearchData();">
											<option value=""></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-12">
										<label for="studentData.searchText">&nbsp;</label>
									</div>
									<div class="col-xs-12">
										<input type="text" class="form-control" ng-model="studentData.searchText" name="searchText" placeholder="Enter keyword to search" ng-change="resetSearchData();"/>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-12">
										<label>&nbsp;</label>
									</div>
									<div class="col-xs-12">
										<button type="submit" class="btn btn-primary addButton borderNone" ng-click=searchStudent(formSearchStudent.$valid)>
											Search
										</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</form>

				<div class="row form-group" ng-if="studentSearchList.length > 0">
					<div class="col-sm-9 col-sm-offset-1">
						<div class="subject-page">

							<table datatable="ng" dt-options="dtOptions" class="col-xs-12 table table-hover table-bordered table-responsive">
								<thead>
									<tr>
										<th>Roll No.</th>
										<th>Student Name</th>
										<th>Course</th>
										<th>Classroom</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in studentSearchList">
										<td>{{item.rollNbr}}</td>
										<td ng-click="loadStudentData(item.studentProfileId)">
											{{item.firstName}} {{item.lastName}}
										</td>
										<td>{{findValueInListByKey(courseMap, item.courseId)}}</td>
										<td>{{findValueInListByKey(classroomMap, item.classroomId)}}</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
                
                <div class="row form-group" ng-if="((studentData.selectCourse || studentData.searchText) && studentSearchList && isSearchPressed && !loading)">
                    <div class="col-xs-offset-1 col-xs-11">
                        <label>
                         <h3>
                            There is no student available for the current selection.
                            </h3>
                        </label>
                    </div>
                </div>

			</div>
		</div>
	</div>
</span>