<span student-parent-create>
	<form name="formParentDetailsCreate">
		<div class="pull-right topActionLinks" ng-if="isWriteAcccess">
			<div>
				<span class="pointer pull-left" title="Save" ng-show="!commonData.isParentDisabled" ng-click="saveParent(formParentDetailsCreate.$valid, parentData.studentProfileId)">
					<img src="images/Save.png" />
				</span>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="tab-content borderTopBlack">
			<div class="tab-pane active school-container">

				<div class="container-fluid">

					<div>
						<div class="row form-group">
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.firstName">First Name *</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.firstName" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.lastName">Last Name *</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.lastName" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.relationship">Relationship *</label>
									</div>
									<div class="col-sm-12">
										<select ng-required="true" ng-model="parentData.relationship" ng-disabled="commonData.isParentDisabled" class="form-control" ng-options="item.name as item.name for item in relationshipList">
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.phonePrimary">Primary Phone Number *</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.phonePrimary" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.phoneSecondary">Secondary Phone Number</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.phoneSecondary" class="form-control" ng-disabled="commonData.isParentDisabled"/>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.emailPrimary">Primary E-Mail *</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.emailPrimary" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.emailSecondary">Secondary E-Mail</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.emailSecondary" class="form-control" ng-disabled="commonData.isParentDisabled"/>
									</div>
								</div>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-9">
								<div class="col-sm-12">
									<label>Address</label>
									<div class="border">
										<div class="row form-group">
											<div class="col-sm-6">
												<div class="form-group">
													<div class="col-sm-12">
														<label for="parentData.streetAddress">Street:</label>
													</div>
													<div class="col-sm-12">
														<textarea ng-model="parentData.streetAddress" class="form-control" ng-disabled="commonData.isParentDisabled"></textarea>
													</div>
												</div>
											</div>
										</div>

										<div class="row form-group">
											<div class="col-sm-4">
												<div class="form-group">
													<div class="col-sm-12">
														<label for="parentData.cityNm">City:</label>
													</div>
													<div class="col-sm-12">
														<input type="text" ng-model="parentData.cityNm" class="form-control" ng-disabled="commonData.isParentDisabled" />
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<div class="col-sm-12">
														<label for="parentData.state">State:</label>
													</div>
													<div class="col-sm-12">
														<select ng-model="parentData.state" class="form-control" ng-disabled="commonData.isParentDisabled" ng-options="item as item for item in stateList"></select>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<div class="col-sm-12">
														<label for="parentData.postalCd">Postal Code:</label>
													</div>
													<div class="col-sm-12">
														<input type="text" ng-model="parentData.postalCd" class="form-control" ng-disabled="commonData.isParentDisabled" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 marginTop25">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.occupation">Occupation</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.occupation" class="form-control" ng-cloak ng-disabled="commonData.isParentDisabled" />
									</div>
								</div>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.createdTs">Created Time</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.createdTs" class="form-control" ng-cloak ng-disabled="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.updatedTs">Last Updated Time:</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.updatedTs" class="form-control" ng-cloak ng-disabled="true" />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="col-sm-12">
										<label for="parentData.updatedBy">Last Updated By</label>
									</div>
									<div class="col-sm-12">
										<input type="text" ng-model="parentData.updatedBy" class="form-control" ng-cloak ng-disabled="true" />
									</div>
								</div>
							</div>

						</div>

						<div class="box-footer form-group" align="center" ng-if="isWriteAcccess">
							<button type="button" class="btn btn-default primary borderNone actionButton" ng-click="goToRoute('student.parentdetails')" ng-show="!commonData.isParentDisabled">
								<i ng-class="buttonImages.cancel"></i>
								<span>Cancel</span>
							</button>

							<button type="submit" class="btn btn-info addButton borderNone actionButton" ng-show="!commonData.isParentDisabled" ng-click="saveParent(formParentDetailsCreate.$valid, parentData.studentProfileId)">
								<i ng-class="buttonImages.save"></i>
								<span>Save</span>
							</button>
						</div>
					</div>


				</div>
			</div>
		</div>
	</form>
</span>