<span student-create>
	<form name="formStudentCreate">

		<div class="pull-right topActionLinks" ng-if="isWriteAcccess">
			<div>
				<span class="pointer pull-left" title="Save" ng-show="!commonData.isStudentDisabled" ng-click="saveStudent(formStudentCreate.$valid)">
					<img src="images/Save.png" />
				</span>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="tab-content borderTopBlack">
			<div class="tab-pane active school-container">

				<div class="container-fluid">
					<div class="row form-group">
						<div class="col-sm-9">

							<div class="row form-group">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.rollNbr">Roll Number *</label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.rollNbr" class="form-control" ng-cloak ng-disabled="commonData.isStudentDisabled" ng-required="true" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.dateOfJoining">Date of Joining *</label>
										</div>
										<div class="col-sm-12">
											<div class="input-group date">
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
												<input type="text" ng-model="studentData.dateOfJoining" class="form-control" id="studentDOJ" ng-disabled="commonData.isStudentDisabled" datepicker />
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="userData.isActive">Is Active?</label>
										</div>
										<div class="col-sm-12">
											<div class="btn-group">
												<button type="button" class="btn" ng-class="{'btn-primary': userData.isActive == 'N', 'btn-default': userData.isActive == 'Y'}" ng-disabled="commonData.isStudentDisabled" ng-click="toggleActivateStudent('N')">
													No
												</button>
												<button type="button" class="btn" ng-class="{'btn-default': userData.isActive == 'N', 'btn-primary': userData.isActive == 'Y'}" ng-disabled="commonData.isStudentDisabled" ng-click="toggleActivateStudent('Y')">
													Yes
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.firstName">First Name *</label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.firstName" class="form-control" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.middleName">Middle Name </label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.middleName" class="form-control" ng-disabled="commonData.isStudentDisabled" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.lastName">Last Name *</label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.lastName" class="form-control" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
										</div>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.gender">Gender *</label>
										</div>
										<div class="col-sm-12 clearfix">
											<div class="row">
												<div class="col-xs-6">
													<div class="radioButton radioGroup">
														<label class="colorBlack noBold">
															<input type="radio" name="gender" value="0" ng-model="userData.gender" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
															Male
														</label>
													</div>
												</div>
												<div class="col-xs-6">
													<div class="radioButton radioGroup">
														<label class="colorBlack noBold">
															<input type="radio" name="gender" value="1" ng-model="userData.gender" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
															Female
														</label>
													</div>
												</div>
											</div>	
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.nationality">Nationality *</label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.nationality" class="form-control" ng-cloak ng-disabled="commonData.isStudentDisabled" ng-required="true" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<label for="studentData.aadharNbr">Aadhar Number *</label>
										</div>
										<div class="col-sm-12">
											<input type="text" ng-model="studentData.aadharNbr" class="form-control" ng-cloak ng-disabled="commonData.isStudentDisabled" ng-required="true" />
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-3">
							<div class="">
								<label ng-if="!studentData.photoLocation" align="center">
									<img src="images/no_image.png" class="img-thumbnail" ng-click="imageUpload()" />
								</label>
								<label ng-if="studentData.photoLocation"  align="center">	
									<img ng-src="studentData.photoLocation" ng-click="imageUpload()" />
								</label>
								<input type="file" id="image_upload_input" ng-disabled="commonData.isStudentDisabled" onchange="angular.element(this).scope().uploadFile(this.files)" class="hide"/>
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.dateOfBirth">Date of Birth *</label>
								</div>
								<div class="col-sm-12 form_datetime">
									<div class="input-group date">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</div>
										<input type="text" ng-model="studentData.dateOfBirth" class="form-control" id="studentDOB" ng-disabled="commonData.isStudentDisabled" datepicker />
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="userData.courseId">Course *</label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="userData.courseId" class="form-control" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="userData.classroomId">Classroom *</label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="userData.classroomId" class="form-control" ng-disabled="commonData.isStudentDisabled" ng-required="true" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.bloodGroup">Blood Group *</label>
								</div>
								<div class="col-sm-12">
									<select ng-options="item.name as item.name for item in bloodGroupList" ng-model="studentData.bloodGroup" class="form-control" ng-disabled="commonData.isStudentDisabled" ng-required="true">
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.identificationMarks">Identification Marks</label>
								</div>
								<div class="col-sm-12">
									<textarea ng-model="studentData.identificationMarks" class="form-control" ng-disabled="commonData.isStudentDisabled"></textarea>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.extraActivities">Extra Activities </label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="studentData.extraActivities" class="form-control" ng-disabled="commonData.isStudentDisabled" autocomplete name-list="extraActList"  placeholder="Type Activity name" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.caste">Caste </label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="studentData.caste" class="form-control" ng-cloak ng-disabled="commonData.isStudentDisabled" />
								</div>
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.createdTs">Created Time</label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="studentData.createdTs" class="form-control" ng-cloak ng-disabled="true" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.updatedTs">Last Updated Time</label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="studentData.updatedTs" class="form-control" ng-cloak ng-disabled="true" />
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class="col-sm-12">
									<label for="studentData.updatedBy">Last Updated By</label>
								</div>
								<div class="col-sm-12">
									<input type="text" ng-model="studentData.updatedBy" class="form-control" ng-cloak ng-disabled="true" />
								</div>
							</div>
						</div>
					</div>

					<div class="form-group" align="center" ng-if="isWriteAcccess">
						<button type="button" class="btn btn-default primary borderNone actionButton" ng-click="commonData.isStudentDisabled = !commonData.isStudentDisabled; getStudentById();" ng-show="!commonData.isStudentDisabled">
							<i ng-class="buttonImages.cancel"></i>
							<span>Cancel</span>
						</button>

						<button type="submit" class="btn btn-info addButton borderNone actionButton" ng-show="!commonData.isStudentDisabled" ng-click="saveStudent(formStudentCreate.$valid)">
							<i ng-class="buttonImages.save"></i>
							<span>Save</span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</form>
</span>