<span student-parent-profile>
	<form name="formParentDetails">
		<div class="pull-right topActionLinks" ng-if="isWriteAcccess">
			<div>
				<span class="pointer pull-left" title="Save" ng-show="!commonData.isParentDisabled" ng-click="updateParent(formParentDetails.$valid, parentData.studentProfileId, parentData.parentId)">
					<img src="images/Save.png" />
				</span>
<span class="pointer pull-left" title="Add" ng-show="commonData.isParentDisabled" ng-click="goToRoute('student.parentdetailscreate'); setupCreateStudent('parent'); commonData.isParentDisabled = false;">
					<img src="images/Add.png" />
				</span>
<span class="pointer pull-left" title="Edit" ng-show="commonData.isParentDisabled && parentData" ng-click="commonData.isParentDisabled = false">
					<img src="images/Edit.png" />
				</span>
<span class="pointer pull-left" title="Delete" ng-show="commonData.isParentDisabled && parentData" ng-click="deleteParent(parentData.studentProfileId, parentData.parentId);">
					<img src="images/Delete.png" />
				</span>
</div>
</div>

<div class="clearfix"></div>

<div class="tab-content borderTopBlack">
    <div class="tab-pane active school-container" get-dynamic-height>

        <div class="container-fluid">

            <div class="row form-group">
                <div class="col-sm-9 col-sm-offset-1">
                    <table class="customTable form-group" ng-if="parentList.length > 0">
                        <thead>
                            <tr class="tableHead bold" align="center">
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Relationship</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in parentList" class="pointer tableBody" ng-click="loadParentData(item.parentId)" ng-class="{'active_table_row': item.parentId == selectedParentId}">
                                <td>{{$index + 1}})</td>
                                <td>{{item.firstName}} {{item.lastName}}</td>
                                <td>{{item.relationship}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="!parentList || !(parentList.length > 0)">
                        <h3 class="text bold">
									Parent Details are not available. Please 
									<button ng-click="goToRoute('student.parentdetailscreate'); setupCreateStudent('parent'); commonData.isParentDisabled = false;" class="btn btn-primary addButton borderNone actionButton marginRight0 noMarginTop" ng-show="commonData.isParentDisabled" style="margin-top: 0;">
										<i ng-class="buttonImages.add"></i>
										<span>Add</span>
									</button>
									parent details.
								</h3>
                    </div>
                </div>
            </div>

            <div ng-show="parentData">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.firstName">First Name *</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.firstName" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.lastName">Last Name *</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.lastName" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.relationship">Relationship *</label>
                            </div>
                            <div class="col-sm-12">
                                <select ng-required="true" ng-model="parentData.relationship" ng-disabled="commonData.isParentDisabled" class="form-control" ng-options="item.name as item.name for item in relationshipList">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.phonePrimary">Primary Phone Number *</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.phonePrimary" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.phoneSecondary">Secondary Phone Number</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.phoneSecondary" class="form-control" ng-disabled="commonData.isParentDisabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.emailPrimary">Primary E-Mail *</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.emailPrimary" class="form-control" ng-disabled="commonData.isParentDisabled" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.emailSecondary">Secondary E-Mail</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.emailSecondary" class="form-control" ng-disabled="commonData.isParentDisabled" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-9">
                        <div class="col-sm-12">
                            <label>Address</label>
                            <div class="border">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="parentData.streetAddress">Street:</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <textarea ng-model="parentData.streetAddress" class="form-control" ng-disabled="commonData.isParentDisabled"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="parentData.cityNm">City:</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="text" ng-model="parentData.cityNm" class="form-control" ng-disabled="commonData.isParentDisabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="parentData.state">State:</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <select ng-model="parentData.state" class="form-control" ng-disabled="commonData.isParentDisabled" ng-options="item as item for item in stateList"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="parentData.postalCd">Postal Code:</label>
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="text" ng-model="parentData.postalCd" class="form-control" ng-disabled="commonData.isParentDisabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 marginTop25">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.occupation">Occupation</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.occupation" class="form-control" ng-cloak ng-disabled="commonData.isParentDisabled" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.createdTs">Created Time</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="userData.createdTs" class="form-control" ng-cloak ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.updatedTs">Last Updated Time:</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="userData.updatedTs" class="form-control" ng-cloak ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="parentData.updatedBy">Last Updated By</label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" ng-model="parentData.updatedBy" class="form-control" ng-cloak ng-disabled="true" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="box-footer form-group" align="center" ng-if="isWriteAcccess">
                    <button ng-click="goToRoute('student.parentdetailscreate'); setupCreateStudent('parent'); commonData.isParentDisabled = false;" class="btn btn-primary addButton borderNone actionButton" ng-show="commonData.isParentDisabled">
                        <i ng-class="buttonImages.add"></i>
                        <span>Add</span>
                    </button>

                    <button type="button" class="btn btn-default primary borderNone actionButton" ng-click="clearParentDetails(); getParentList(studentId);" ng-show="!commonData.isParentDisabled">
                        <i ng-class="buttonImages.cancel"></i>
                        <span>Cancel</span>
                    </button>

                    <button type="button" class="btn btn-warning editButton borderNone actionButton" ng-click="commonData.isParentDisabled = false" ng-show="parentData && commonData.isParentDisabled">
                        <i ng-class="buttonImages.edit"></i>
                        <span>Edit</span>
                    </button>

                    <button class="btn btn-danger deleteButton borderNone actionButton" ng-click="deleteParent(parentData.studentProfileId, parentData.parentId)" ng-show="commonData.isParentDisabled && parentData">
                        <i ng-class="buttonImages.delete"></i>
                        <span>Delete</span>
                    </button>

                    <button type="submit" class="btn btn-info addButton borderNone actionButton" ng-show="!commonData.isParentDisabled" ng-click="updateParent(formParentDetails.$valid, parentData.studentProfileId, parentData.parentId)">
                        <i ng-class="buttonImages.save"></i>
                        <span>Save</span>
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>
</form>
</span>