<div>
	<div class="clearfix">
		<p class="pull-left">
			<label>Home / Student / {{currentPageName}}</label>
		</p>
		<p class="pull-right colorRed bold">
			* Required Fields
		</p>
	</div>
	<div class="content">

		<div class="nav-tabs-custom tabsList">
			<uib-tabset class="pull-left" active="selectedStudentTab">
				<uib-tab ng-repeat="item in tabsList" heading="{{item.name}}" select="goToRoute(item.route)">
				</uib-tab>
			</uib-tabset>

			<span ui-view></span>
		</div>
	</div>
</div>