<div class="home-page">
    <div>
        {{home.Title}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Marks</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="line" class="chart chart-line" chart-data="home.data"
                                chart-labels="home.labels" chart-legend="true" chart-series="home.series"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Marks(Ratio)</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-base" chart-type="'Pie'"
                                chart-data="home.StudentMarks.data" chart-labels="home.StudentMarks.labels" chart-legend="true"></canvas> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Marks</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="line" class="chart chart-line" chart-data="home.data"
                                chart-labels="home.labels" chart-legend="true" chart-series="home.series"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Student Marks(Ratio)</div>
                <div class="panel-body">
                    <div class="chart-container">
                        <canvas id="base" class="chart-base" chart-type="'Pie'"
                                chart-data="home.StudentMarks.data" chart-labels="home.StudentMarks.labels" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>