﻿<style>
    .text-danger {
        color: #a94442 !important;
    }
</style>
<div class="row">
    <div class="login-box">
        <div class="inner">
            <h4>Please identify yourself</h4>

            <div>
                <form name="loginForm" autocomplete="off" ng-submit="loginForm.$valid && login.Login()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" autocomplete="off" name="username" class="form-control" ng-model="login.User.userName" placeholder="Username" required>
                            <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="help-block text-danger ">Username is required</span>
                        </div>

                        <div class="form-group">
                            <input type="password" autocomplete="off" name="password" class="form-control" ng-model="login.User.password" placeholder="Password" required>
                            <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block text-danger ">Password is required</span>

                        </div>
                    </fieldset>
                    <input type="submit" ng-disabled="loginForm.$invalid || login.dataLoading" class="btn btn-primary" value="Log in">
                    <img ng-if="login.dataLoading" class="loading-gif" src="images/spin.gif">
                    <div class="form-group" ng-if="login.invalid">
                        <span class="text-danger" ng-bind="login.invalidMessage">Invalid Username or Password</span>
                    </div>
                </form>
            </div>

        </div>
        <a class="pull-left under" href="#">Forgot your password?</a>
        
    </div>
</div>
